/* ====================== HERO ====================== */
/* Estilo base: Mobile first */
.hero {
  background-color: #1b2538;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 110vh; 
  padding: 1rem;
}

.hero img {
  margin-top: 2rem;
  width: 10rem;
  border-radius: 50%;
  border: solid white 1px;
}

.nome{
  color: #14B8A6;
}

.hero h1 {
  text-align: center;
  margin: 1rem 0;
}

.hero h2 {
  text-align: center;
  font-weight: 400;
  margin: 0.5rem 0;
}

.hero p {
  width: 90%;
  max-width: 20rem;
  margin: 2rem auto 0 auto;
  text-align: center;     
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.botoes button {
  height: 4rem;   /* tamanho mais proporcional */
  width: 7rem;
  border-radius: 1rem;
  background-color: #1B2538;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: solid white 2px;
  transition: 0.3s; 
}

.botoes button:hover {
  background-color: #14B8A6;
  cursor: pointer;
}

/* ====================== TABLET ====================== */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    flex-direction: row;        
    justify-content: center;
    align-items: center;
    height: 50vh;              
    gap: 2rem;                   
    padding: 2rem;
  }

  .conteudo {
    max-width: 25rem;
  }

  .hero img {
    width: 15rem;              
    margin: 0;
  }

  .botoes button {
    width: 10rem;
    height: 4.5rem;
    font-size: 1.2rem;
  }
}

/* ====================== DESKTOP ====================== */
@media (min-width: 1025px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;           
    padding: 3rem;
  }

  .hero img {
    width: 20rem;       /* tamanho ajustado */
    border-radius: 50%;   
    margin-bottom: 2rem;  
  }

  .conteudo {
    max-width: 40rem;
    margin-bottom: 2rem;    
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1.2rem;    
    line-height: 1.6;      
    max-width: 40rem;      
    margin-top: 1rem;
    text-align: left;
  }

  .botoes button {
    width: 12rem;
    height: 4.5rem;
    font-size: 1.2rem;
  }
}
